/* src/app/components/UploadExcel.module.css */
.container {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    border: solid 2px black;
    border-radius: 25px;
    padding: 12px;
    gap: 8px;
}

.container input {
    background-color: #951f56;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    color: white;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: 0.4s;
}

.container p {
    margin-top: 10px;
    color: green;
}
