/* src/app/components/Loading.module.css */
.loadingContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.8); /* Fundo branco com opacidade */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
}
